body{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}
.container {
    background-color: #111;;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    border: 5px;
    border-color: rgb(180, 180, 180);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 0 25px #e07a1a;
    padding: 20px;
}

.screen {
    background-color: #333;
    width: 350px;
    height: 60px;
    border: 2px;
    padding: 10px 20px 35px 20px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 8px;
    font-size: 2em;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    
}

.keys{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    align-content: center;
    justify-content: center;
}

.keys button{
    background-color:  #444;
    border: 3px solid #000;
    border-radius: 8px;
    color: #ffffff;
    height: calc(80%/4);
    width: calc(80%/5);
    font-size: 1.1em;
    margin: 5px;
    text-align: center;
    cursor: pointer; 
    transition: all 0.2s ease; 
    
    
}

.keys button:hover {
    box-shadow: 0 3px 12px 0 rgb(255, 255, 255), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.keys button:active {
    background-color: #e07a1a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

